---
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
  <section
    class="h-screen relative bg-cover bg-no-repeat bg-center"
    style="background-image : linear-gradient(180deg, rgba(1, 1, 1, 0.5) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(255, 255, 255, 0) 100%), url('/images/hero1.png')"
  >
    <div class="relative sm:top-[30%] top-1/4 left-[10%] w-fit text-stone-200">
      <p class="mb-0">Welcome to</p>
      <p class="font-bold text-2xl mb-3">Badak Gunung</p>
      <p class="mb-0">
        <span
          class="typed"
          data-typed-items="Discover, Book and Enjoy Your Journey"></span>
      </p>
    </div>
  </section>
  <section class="container py-8">
    <p class="text-3xl font-semibold text-center my-4">Why Badak Gunung?</p>
    <div class="grid sm:grid-cols-3 grid-cols-1 justify-center">
      <div class="p-4 text-center">
        <i class="bi bi-cash-coin text-6xl"></i>
        <p class="font-bold mt-4 mb-2 text-2xl">Save Money</p>
        <p>
          Dapatkan paket liburan yang <em>affordable</em> dengan fasilitas yang beragam
        </p>
      </div><div class="p-4 text-center">
        <i class="bi bi-luggage-fill text-6xl"></i>
        <p class="font-bold mt-4 mb-2 text-2xl">Stay Safe</p>
        <p>
          Kami pastikan setiap tamu yang berlibur dapat merasakan liburan yang
          aman dan nyaman
        </p>
      </div><div class="p-4 text-center">
        <i class="bi bi-emoji-laughing text-6xl"></i>
        <p class="font-bold mt-4 mb-2 text-2xl">Get Help</p>
        <p>
          Liburanmu akan terasa lebih menyenangkan dengan ditemani kru yang
          ramah dan <em>helpful</em>
        </p>
      </div>
    </div>
  </section>
  <section
    class="sm:bg-fixed bg-scroll bg-cover bg-no-repeat bg-center h-[500px] bg-[url('/images/hero1.png')]"
  >
  </section>
  <section class="container py-8">
    <p class="text-3xl font-semibold text-center my-4">Paket Kami</p>
    <div class="grid sm:grid-cols-2 grid-cols-1 justify-center gap-2">
      <Card
        link="/paket/bromo"
        Img="/images/bromo1.jpg"
        title="Bromo Midnight Trip"
        price="285.000"
        durasi={1}
        jenistrip="Private"
      />
      <Card
        link="/paket/tumpaksewu"
        Img="/images/tumpaksewu.jpg"
        title="Air Terjun Tumpak Sewu"
        price="250.000"
        durasi={1}
        jenistrip="Private"
      />
    </div>
    <button
      class="bg-teal-800 text-white rounded font-semibold mt-4 px-4 py-2 hover:bg-teal-700"
      onclick="window.location.href = '/paket'"
    >
      <i class="bi bi-chevron-right"></i>Paket Lainnya</button
    >
  </section>
</MainLayout>

<script>
  import Typed from "typed.js";
  const typed = document.querySelector(".typed");
  if (typed) {
    let typedStrings = typed.getAttribute("data-typed-items");
    // typedStrings = typedStrings.split(",");
    new Typed(".typed", {
      strings: typedStrings.split(null),
      loop: true,
      typeSpeed: 50,
      backSpeed: 50,
      backDelay: 500,
    });
  }
</script>
