<footer class="container py-4 mt-8">
  <div class="flex flex-wrap mx-0.5 gap-x-6 justify-between">
    <div class="grow shrink-0 basis-0 h-fit w-fit max-w-full py-1">
      <p
        class="font-semibold mb-3 text-lg underline decoration-solid decoration-1 decoration-slate-400"
      >
        Hubungi kami
      </p>
      <p class="mb-2">
        <i class="bi bi-whatsapp"></i>
        <a
          href="https://wa.me/6285157276433/?text=Hi%20Badak%20Gunung!%20Saya%20mau%20tanya%20tentang"
          target="_blank"
        >
          &nbsp;+62 852 2682 2944
        </a>
      </p>
      <p class="mb-2">
        <i class="bi bi-instagram"></i>
        <a href="https://www.instagram.com/badakgunung/" target="_blank">
          &nbsp;Badak Gunung
        </a>
      </p>
      <p class="mb-2">
        <i class="bi bi-geo-alt-fill"></i>
        <a href="https://maps.app.goo.gl/h6NeC4vT4FPUoQKe8" target="_blank">
          &nbsp;Pongangan, Manyar, Gresik, Jawa Timur
        </a>
      </p>
    </div>
  </div>
  <p class="text-xl mt-4 mb-2">&copy; 2024 - Badak Gunung</p>
</footer>
