---
const { pathname } = Astro.url;
const listmenu = [
  {
    page: "Home",
    path: "/",
  },
  {
    page: "Paket",
    path: "/paket",
  },
  {
    page: "Tentang",
    path: "/kontak",
  },
  {
    page: "FAQ",
    path: "/faq",
  },
];
---

<nav
  class:list={[
    "fixed top-0 z-[1030] w-full transition-all duration-300 pt-8",
    { "bg-teal-900": pathname === "/paket" || pathname === "/faq" },
  ]}
  id="navbar"
>
  <div class="container mx-auto px-4 md:px-16">
    <div class="flex items-center justify-between h-16">
      <div class="flex-shrink-0">
        <a href="/" class="flex align-middle text-white font-bold text-xl">
          <img
            src="/src/assets/logo2.png"
            alt="logo"
            class="h-8 w-8 inline-block mx-2"
          />
          Badak Gunung
        </a>
      </div>
      <div class="hidden md:block">
        <div class="flex items-center gap-x-8">
          {
            listmenu.map((item) => (
              <a
                href={item.path}
                class="uppercase font-medium text-white hover:text-gray-300 after:content-[''] after:block after:border-b-2 after:transition-all after:duration-300 after:scale-x-0 after:origin-center hover:after:scale-x-100"
              >
                {item.page}
              </a>
            ))
          }
        </div>
      </div>
      <div class="md:hidden">
        <button
          id="toggleButton"
          class="block lg:hidden text-white focus:outline-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>
<div
  id="offcanvas"
  class="transition-transform duration-300 ease-linear bg-gray-900 text-white fixed top-[4rem] right-0 w-10/12 flex flex-col py-8 px-8 sm:hidden gap-y-6 rounded translate-x-[100%] invisible"
>
  {
    listmenu.map((item, index) => (
      <a
        href={item.path}
        class="uppercase font-medium text-white text-end bg-gradient-to-r from-teal-500 to-teal-900 px-2 py-2 rounded"
      >
        {item.page}
      </a>
    ))
  }
</div>

<script>
  const navbar = document.getElementById("navbar");

  window.addEventListener("scroll", () => {
    if (window.scrollY > 100) {
      navbar.classList.add("bg-teal-900");
      navbar.classList.remove("bg-transparent", "pt-8");
    } else {
      navbar.classList.add("bg-transparent", "pt-8");
      navbar.classList.remove("bg-teal-900");
    }
  });
  const toggleButton = document.getElementById("toggleButton");
  const offcanvas = document.getElementById("offcanvas");

  toggleButton.addEventListener("click", () => {
    offcanvas.classList.toggle("translate-x-[100%]");
    offcanvas.classList.toggle("invisible");
  });

  document.addEventListener("click", (event) => {
    const targetNode = event.target as Node;
    if (!offcanvas.contains(targetNode) && !toggleButton.contains(targetNode)) {
      offcanvas.classList.toggle("translate-x-[100%]");
      offcanvas.classList.toggle("invisible");
    }
  });
</script>
