---
const { highlight } = Astro.props;
export interface Props {
  highlight: {
    mulai: string;
    selesai: string;
    jenistrip: string;
    mepo: string;
  };
}
---

<div class="grid sm:grid-cols-4 grid-cols-2">
  <div class="col-span-1 font-semibold w-full">
    <p>Kategori</p>
    <p>Meeting Point</p>
    <p>Waktu Mulai</p>
    <p>Waktu Selesai</p>
  </div>
  <div class="sm:col-span-3 col-span-1 w-full">
    <p>: {highlight.jenistrip || "Private Trip"}</p>
    <p>: {highlight.mepo || "Malang Kota"}</p>
    <p>: {highlight.mulai} WIB</p>
    <p>: {highlight.selesai} WIB</p>
  </div>
</div>
<div class="mt-4">
  <slot />
</div>
